<section class="bg-dark py-7 py-md-9 overflow-hidden position-relative"
         style="background-image:url(assets/img/polyhead.png);
         background-position: center center; background-size: cover;">
    <div class="d-flex position-absolute top-0 bottom-0 w-100 h-100">
        <div class="w-50 h-100 bg-dark-overlay-3"></div>
        <div class="w-50 h-100 bg-primary-multiply"></div>
    </div>
    <div class="container position-relative z-index-9">
        <div class="row">
            <div class="col-lg-8">
                <div class="display-9 bg-white px-2 my-4 ms-1 text-dark d-inline-block">Don't stop believing</div>
                <h1 class="text-uppercase text-white display-2 lh-1"><span class="text-white-stroke">
                    Go where your </span>passion leads you!</h1>
                <p class="display-7 fw-normal text-white font-alt ">Let me help you realize your vision</p>
                <a href="#" class="btn btn-primary btn-line">Learn how!</a>
            </div>
        </div>
    </div>
</section>