<!DOCTYPE html>
<html lang="en">
<header class="navbar-light header-static navbar-sticky navbar-space-lg">
        <!-- Logo Nav START -->
        <nav class="navbar navbar-expand">
            <div class="container">
                <!-- Logo START -->
                <a class="navbar-brand" href="/">
<!--                    <img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">-->
                    <h3 class="me-2 mb-0">David J<span class="text-primary">.</span> Barel</h3>
                    <h6 class="smaller text-muted mb-0">A Fullstack Developer && Artist</h6>
                </a>
                <!-- Logo END -->

                <!-- Nav Right START -->
                <div class="nav flex-nowrap align-items-center">
                    <!-- Nav Call -->
                    <div class="nav-item d-none d-lg-flex">
                        <div class="flex-row mb-n1">
                            <span class="me-2 text-muted">Call me:</span>
                            <a href="#" class="mb-0 h6">+(888) 333-6308</a>
                        </div>
                    </div>
                    <!-- Offcanvas Opener -->
                    <div class="nav-item ms-4">
                        <a class="nav-link p-0 flex-row"
                                data-bs-toggle="offcanvas"
                                href="#offcanvasEnd" role="button"
                                aria-controls="offcanvasEnd">
                            <span class="font-heading fw-bold" data-bs-target="#offcanvasEnd">Menu</span>
                            <i class="bi bi-text-right rtl-flip display-8 align-middle" data-bs-target="#offcanvasEnd"></i>
                        </a>
                    </div>
                    <!-- Nav Button -->
                    <div class="nav-item d-none d-md-block ms-4">
                        <a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
                    </div>
                </div>
                <!-- Nav Right END -->

            </div>
        </nav>
        <!-- Logo Nav END -->
</header>

</html>