<div class="col-md-10 mx-auto text-center pb-7">
  <div class="tiny-slider arrow-md-none arrow-bordered arrow-large arrow-round">
    <div class="tiny-slider-inner" data-gutter="0"
         data-edge="50"
         data-autoplay="true"
         data-arrow="true" data-dots="false" data-items="1">

      <!-- Testimonial item -->
      <div class="item px-3 px-md-6">
        <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1">
          <i class="fas fa-quote-left"></i></div>
        <div class="avatar"><img class="avatar-img rounded-circle"
                                 src="assets/img/avatar/01.jpg" alt="avatar"></div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed vulputate felis eget ex rhoncus, vitae gravida enim ultricies.
          Nam sit amet commodo neque.</p>
        <h6 class="mb-0 mt-3">sean Whiskey</h6>
        <span class="small">Software Developer</span>
      </div>

      <!-- Testimonial item -->
      <div class="item px-3 px-md-6">
        <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1"><i class="fas fa-quote-left"></i></div>
        <div class="avatar"><img class="avatar-img rounded-circle" src="assets/img/avatar/02.jpg" alt="avatar"></div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate felis eget ex rhoncus,
          vitae gravida enim ultricies. Nam sit amet commodo neque..</p>
        <h6 class="mb-0 mt-3">Jane Smith</h6>
        <span class="small">Founder and CEO</span>
      </div>

      <!-- Testimonial item -->
      <div class="item px-3 px-md-6">
        <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1"><i class="fas fa-quote-left"></i></div>
        <div class="avatar">
          <img class="avatar-img rounded-circle"
                                 src="assets/img/avatar/03.jpg" alt="avatar"></div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate felis eget ex rhoncus,
          vitae gravida enim ultricies. Nam sit amet commodo neque..</p>
        <h6 class="mb-0 mt-3">Stacy Lore</h6>
        <span class="small">Product Manager</span>
      </div>

    </div>
  </div>
</div>