<!DOCTYPE html>
<html lang="en">
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasEnd"
     aria-labelledby="offcanvasEnd"
     style="background-image:url(assets/img/bg/pattern/03.png);
    background-position: center left; background-size: cover;">
    <div class="offcanvas-header">
        <a class="ms-auto btn btn-primary btn-round zoom-hover"
           data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fas fa-times p-0"></i>
        </a>
    </div>
    <div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-5 px-md-6">
        <ul class="nav dropdown-toggle-start-icon d-block flex-column mb-5">
        </ul>
        <div class="mt-auto mb-5">
            <a href="#" class="font-heading text-white text-primary-hover d-block mb-3">
                hello@DavidBarel.com</a>
            <a href="#" class="font-heading text-white text-primary-hover">
                +(800)300-8690</a>
        </div>
    </div>
</div>

</body>
</html>